* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img {
  width: 100%;
}

button:focus {
  border: none;
  outline: none;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 20px 30px;
}

.shop-title {
  text-align: center;
  margin-bottom: 80px;
}

.buy-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  width: 160px;
}

.icon-cart {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  stroke-width: 0;
  width: 50px;
  height: 50px;
}

.icon-cart:hover {
  fill: orange;
  transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}

.cart-wrapper {
  position: relative;
}

.total-count {
  position: absolute;
  width: fit-content;
  height: fit-content;
  border-radius: 50%;
  background-color: green;
  color: white;
  font-weight: 700;
  padding: 5px 12px;
  top: 30px;
  left: 35px;
}

.button-cart {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: rgb(231, 68, 68);
  color: white;
  padding: 10px 10px;
  border-radius: 4px;
}

.button-cart:hover {
  background-color: rgb(204, 17, 17);
  transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}

.product-card {
  border: 1px solid #4caf50;
  border-radius: 8px;
  background-color: #c5ffc0;
  padding: 15px 10px;
  width: 100%;
}

.card-img {
  width: 230px;
  height: 200px;
}

.image-container {
  width: 100%;
  margin-bottom: 35px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.products-container {
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 60px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

.card-title {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}

.card-text {
  text-align: center;
  font-size: 30px;
  color: #009688;
  font-weight: 700;
  margin-bottom: 25px;
}

.add-to-cart {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}

.add-to-cart:hover {
  text-decoration: none;
}

.button-buy {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: rgb(247, 139, 16);
  color: white;
  padding: 10px 10px;
  border-radius: 4px;
  width: 100%;
  font-size: 20px;
}

.button-buy:hover {
  background-color: rgb(245, 71, 3);
  transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}
