/* Fonts */
/* @font-face {
  font-family: 'font name';
  src: url("#") format("format name");
  font-style: normal;
  font-weight: normal;
} */

/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, p {
  margin: 0;
}

img {
  width: 100%;
} */
